<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_flick-baibai._tcp</string>
		<string>_flick-baibai._udp</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>WeatherKitUsageDescription</key>
	<string>FLICK需要访问天气信息，以便在拍摄计划时提供当前天气状况</string>
	<key>com.apple.developer.nearby-interaction</key>
	<true/>
</dict>
</plist>
