<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>FLICK需要访问您的相机来拍摄堪景照片</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>FLICK需要访问您的相册来选择堪景照片</string>
</dict>
</plist>
